:root {
     --main-color: #901C1C;
     --back-color:  #D3573C;
     --font-gray : #525252;
}

.tags{
     border-radius: 20px;
     border: 1px solid var(--font-gray);
     color:  var(--main-color) ;
     padding: 5px 10px;
     margin: 0 5px;
     transition: 0.2s ease-in-out;
}

.tags:hover{
     transform: scale(1.2);
}

body{
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
}

.overflowhide{
     overflow: hidden;
}

.logo{
     max-width : 500px
}

h4{
     margin: 0;
}
.main{
     max-width: 1940px;
     margin: auto;
}
.photographe-infos{
     display: flex;
     justify-content: space-around;
     background-color: whitesmoke;
     padding: 40px 0;
}
.photographe-name,
.photographe-city{
     color:  var(--back-color);
}

.bouton-container{
     margin-left: -100px;
}

.bouton{
     background-color: var(--main-color);
     color: white;
     padding: 20px;
     margin-top: 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
}
a{
     text-decoration: none;
}

.photographe-img-container{
     width: 18%;
     margin: auto 0 ;
     position: relative;
}
.photographe-img-container::after{
     content: "";
     padding-top: 100%;
     display: block;
}
.photographe-img-container img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: absolute;
     border-radius: 50%;
}

.tri-container{
     display: flex;
     padding: 10px 60px;
}
.tri-recherche{
     margin-right: 30px;
}
select{
     background-color: var(--main-color);
     cursor: pointer;
     color: white;
     border: none;
     border-radius: 5px;
     padding: 10px;
}


/* MEDIA */ 

.media-container{
     display: flex;
     flex-wrap: wrap;
     padding: 0 30px;
}

.media{
     margin: 20px 30px;
     width: calc(33.33% - 60px);
     cursor: pointer;
}
.media::after{
     content: '';
     display: block; 
     padding-top: 100%;
}

.img-container{
     position : relative;
     width: 100%;
     height: 90%;
     display: block;
}

.video-container{
     position : relative;
     width: 100%;
     height: 90%;
     display: block;
}
.video-container video{
     position: absolute ;
     width: 100%;
     height: 100%;
}


.img-container img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: absolute;
}

.media-infos{
     color: var(--main-color);
     display: flex;
     justify-content: space-between;
     padding-top: 10px;
}

.media-infos i{
     margin-left: 10px;
}


.languette-info{
     position: fixed;
     bottom: 0px;
     right: 0px;
     display: flex;
     background-color: var(--back-color);
     width: 20%;
     min-width: 170px;
     border-radius: 15px;
     justify-content: space-around;
}

/* FORM MODAL  */

.form-modal{
     background-color: var(--back-color);
     padding: 25px;
     width: 60vw;
     position: absolute;
     left: 50%;
     right: 50%;
     top: 50%;
     transform: translate(-50%,-50%);
     display: none;
}

form{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
     margin: auto;
     position: relative;
}

.form-titre{
     font-size: 2rem;
     width: 100%
}

.form-input,
.form-label{
     width: 100%;
     margin-bottom: 10px;
}

.form-input{
     height: 30px;
}

.form-input-msg{
     height: 120px;
}

.form-submit{
     background-color: var(--main-color);
     color : white;
     cursor: pointer;
    padding: 15px 30px;
    border-radius: 5px;
}

.form-close{
     position: absolute;
     top: 0;
     right: 0;
     color: white;
     cursor: pointer;
}

/* LIGHTBOX */

.lightbox{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: lightgray;
    width: 80vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.active{
     display: flex;
}

.modal-content{
     width: 100%;
}

.lightbox-container-img{
     width: 90%;
     height: 100%;
}

.lightbox-container-video{
     width: 90%;
     height: 100%;
}

.lightbox-container-img img{
     margin: auto;
     max-width: 100%;
     height: 100%;
     max-height: 80vh;
     object-fit: cover;
}

.lightbox-container-video video{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.mySlides{
     display: flex;
     align-items: center;
     justify-content: space-around;
}

.close.cursor{
     cursor: pointer;
     color : var(--main-color);
     font-size: 40px;
}

.prev,
.next{
     cursor: pointer;
     color : var(--main-color);
     font-size: 40px;
}

.media-titre{
     text-align: center;
     color:  var(--main-color);
     font-size : 22px;
     margin-top: 15px;
}

.numbertext{
     text-align: center;
}

@media screen and (max-width: 850px){
     .media{
          width: calc(50% - 60px);
     }
}

@media screen and (max-width: 800px){
     .body{
          position: relative;
     }
     .bouton-container{
          position: fixed;
          bottom: 40px;
          margin: 0;
          z-index: 10;
     }
     .bouton-container button{
          padding: 10px 15px;
     }
}

@media screen and (max-width: 550px){
     .media{
          width: calc(100%);
          margin: 0 15px;
     }
}